.logo {
  height: 50px;
  width: 50px;
}

.right-nav {
  display: flex;
  justify-content: space-between;
  width: 25%;
}

.nav-link {
  text-decoration: none;
  color: #222831;
  padding: 25px;
  margin: 10px;
  transition: 0.5s;
}

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #b99470;
  box-shadow: -8px 12px 26px 4px rgba(0, 0, 0, 0.75);
}

.nav-link:hover {
  background-color: #dfd0b8;
  color: #948979;
}

.hero-image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.hero-image h1 {
  position: absolute;
  background-color: #948979;
  color: #222831;
}
